In [4]:
#bibliotecas matematicas
import numpy as np
import pandas as pd
from scipy import special

#loop
import itertools
from datetime import timedelta
from IPython.display import display

In [7]:
fraude_df = pd.read_csv('../modelo_fraude/base-de-dados/Fraud_Data.csv', header=0)

In [9]:
isp_df = pd.read_csv('../modelo_fraude/base-de-dados/IpAddress_to_Country.csv', header=0)

### Conhecendo os dataframes

In [ ]:
isp_df.head()

   limite_inferior_ip  limite_superior_ip       pais
0          16777216.0            16777471  Australia
1          16777472.0            16777727      China
2          16777728.0            16778239      China
3          16778240.0            16779263  Australia
4          16779264.0            16781311      China

como o limite_inferior_ip é um float, vou precisar primeiro checar se existe algum ip está como o formato errado e depois converter.

In [23]:
for col in isp_df.columns:
    print('{}: {}'.format(col, isp_df[col].dtype))

limite_inferior_ip: float64
limite_superior_ip: int64
pais: object

In [29]:
ip_floats = isp_df.limite_inferior_ip.apply(lambda x: not x.is_integer()).sum()
print("Total IP com decimal não zero: {}".format(ip_floats))

Total IP com decimal não zero: 0

In [34]:
isp_df.limite_inferior_ip = isp_df.limite_inferior_ip.astype(int)

In [35]:
for col in isp_df.columns:
    print('{}: {}'.format(col, isp_df[col].dtype))

limite_inferior_ip: int32
limite_superior_ip: int64
pais: object

#### Possui valores nulos?

In [15]:
for col in fraude_df.columns:
    print('Valores nulos na coluna {} é: {}'.format(col, fraude_df[col].isnull().sum()))

Valores nulos na coluna id é: 0
Valores nulos na coluna cadastro é: 0
Valores nulos na coluna compra é: 0
Valores nulos na coluna valor é: 0
Valores nulos na coluna id_dispositivo é: 0
Valores nulos na coluna fonte é: 0
Valores nulos na coluna browser é: 0
Valores nulos na coluna genero é: 0
Valores nulos na coluna idade é: 0
Valores nulos na coluna ip é: 0
Valores nulos na coluna fraude é: 0

In [31]:
for col in isp_df.columns:
    print('Valores nulos na coluna {} é: {}'.format(col, isp_df[col].isnull().sum()))

Valores nulos na coluna limite_inferior_ip é: 0
Valores nulos na coluna limite_superior_ip é: 0
Valores nulos na coluna pais é: 0

#### Estatistica descritiva

In [17]:
fraude_df.describe()

,id,valor,idade,ip,fraude
count,151112.000000,151112.000000,151112.000000,1.511120e+05,151112.000000
mean,200171.040970,36.935372,33.140704,2.152145e+09,0.093646
std,115369.285024,18.322762,8.617733,1.248497e+09,0.291336
min,2.000000,9.000000,18.000000,5.209350e+04,0.000000
25%,100642.500000,22.000000,27.000000,1.085934e+09,0.000000
50%,199958.000000,35.000000,33.000000,2.154770e+09,0.000000
75%,300054.000000,49.000000,39.000000,3.243258e+09,0.000000
max,400000.000000,154.000000,76.000000,4.294850e+09,1.000000