#### Importando as bibliotecas necessárias.

In [ ]:
import pandas as pd
import datetime
import glob
import datetime
import math

#### Instalando a biblioteca para conexão com o Banco de Dados.

In [ ]:
!pip install pymysql

#### Conexão com o banco de dados.

In [ ]:
from sqlalchemy.engine import create_engine
engine = create_engine('mysql+pymysql://root:bootcamp@127.0.0.1:3307/employees')

### Criação do atributos **Satisfaction Level** e **Last_Evaluation**.

#### Carregando os dados de avaliação de desempenho.

In [ ]:
df_performance_evaluation = pd.read_json("../datalake/landing/performance-evaluation/employee_performance_evaluation.json",orient="records",lines=True)

In [ ]:
# Windows
#df_performance_evaluation = pd.read_json("..\\datalake\\landing\\performance-evaluation\\employee_performance_evaluation.json",orient="records",lines=True)

In [ ]:
df_performance_evaluation.head()

### Criando o atributo Number_Project

#### Definindo a query para retorna o número de projetos por colaborador.

In [ ]:
query = """SELECT Count(PROJECT_ID) as number_projects
FROM projects_emp
GROUP BY (emp_id);"""

In [ ]:
df_number_projects = pd.read_sql_query(query,engine)

In [ ]:
df_number_projects.head()

### Criação do atributo **Mean_Work_Last_3_Months**.

#### Criando uma estrutura de Dataframe vazia.

In [ ]:
df_sistema_ponto = pd.DataFrame(data=None, columns=["emp_id","data","hora"])

#### Carregando os dados do registro de horas trabalhadas.

In [ ]:
for sheet in glob.glob("../datalake/landing/working-hours/*.xlsx"):
    df_ = pd.read_excel(sheet)
    df_sistema_ponto = pd.concat([df_sistema_ponto,df_])

In [ ]:
# Windows
#for sheet in glob.glob("..\\datalake\\landing\\working-hours\\*.xlsx"):
    #df_ = pd.read_excel(sheet)
    #df_sistema_ponto = pd.concat([df_sistema_ponto,df_])

#### Convertendo os atributo para o tipo de dados datetime.

In [ ]:
df_sistema_ponto["hora"] = pd.to_numeric(df_sistema_ponto["hora"])

#### Filtrando apenas os registros dos últimos 3 meses.

In [ ]:
df_last_3_month = df_sistema_ponto[(df_sistema_ponto['data'] > datetime.datetime(2020,9,30))]

#### Verificando a contagem de registros por colaborador.

In [ ]:
df_last_3_month.groupby("emp_id").count()

#### Calculando o valor médio da quantidade de horas nos últimos 3 meses.

In [ ]:
mean_work_last_3_months = df_last_3_month.groupby("emp_id")["hora"].agg("sum")/3

#### Atribuindo os dados ao Dataframe para a verificação.

In [ ]:
mean_work_last_3_months = pd.DataFrame(data=mean_work_last_3_months)

In [ ]:
mean_work_last_3_months.rename(columns={"hora":"mean_work_last_3_months"},inplace=True)

In [ ]:
mean_work_last_3_months.head()

### Criando o atributo Time_in_Company

#### Definindo uma data de referencia.

In [ ]:
date_referencia = datetime.date(2021, 1, 1)

#### Definindo a query para retornar os dados do banco de dados.

In [ ]:
query = """SELECT hire_date
FROM employees;"""

In [ ]:
df_hire_date = pd.read_sql_query(query,engine)

In [ ]:
df_hire_date.head()

#### Convertendo o tipo de dados para datetime.

In [ ]:
df_hire_date["hire_date"] = pd.to_datetime(df_hire_date["hire_date"])

#### Calculando a diferença em dias a partir da data de contratação do colaborador até a data de referencia.

In [ ]:
days_diff = []
for d in df_hire_date["hire_date"]:
    diff = date_referencia - d.date()
    days_diff.append(diff.days)

#### Convertendo o número de dias em quantidade de anos.

In [ ]:
nyears = []
for ndays in days_diff:
    nyears.append(int(math.ceil(ndays / 365)))

In [ ]:
nyears

#### Atribuindo os dados ao Dataframe para verificação.

In [ ]:
df_hire_date["time_in_company"] = nyears

In [ ]:
df_hire_date.head()

### Criando o atributo Work_Accident

#### Carregando os dados a partir do banco de dados.

In [ ]:
df_employees = pd.read_sql_table("employees",engine)

In [ ]:
df_accident = pd.read_sql_table("accident",engine)

#### Verificando quais colaboradores sofreram acidente.

In [ ]:
work_accident = []
for emp in df_employees["emp_no"]:
    if emp in df_accident["emp_no"].to_list():
        work_accident.append(1)
    else:
        work_accident.append(0)

#### Atribuindo ao Dataframe para verificação.

In [ ]:
df_work_accident = pd.DataFrame(data=None, columns=["work_accident"])

In [ ]:
df_work_accident["work_accident"] = work_accident

In [ ]:
df_work_accident.head()

### Criando os atributos Department, Salary e Left

#### Definindo a query para retornar os atributos.

In [ ]:
query = """SELECT emp.department as department,sal.salary as salary, emp.left
FROM employees emp
INNER JOIN salaries sal
ON emp.emp_no = sal.emp_id;
"""

In [ ]:
df_department_salary_left = pd.read_sql_query(query,engine)

In [ ]:
df_department_salary_left.head()