<a href="https://colab.research.google.com/github/rafaelpds/Projetos_Data_Science/blob/main/QConcurso/challenge_qconcurso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The Challenge

Participants are requested to create a model to rank the answer to the 101st question, given a set of 100 answers to questions answered sequentially by 20,000 users.

The Dataset_Model database contains the answers to 100 questions answered sequentially by 20,000 users and should be used to train the model.

The subjects_question file contains additional information about the questions, mapping the questions to subjects. It's important to note that each question may contain more than one subjects.

The file Submit.csv is the file that contains the data about the 101st question for each user. Your model should score the "Acertou" (in english "got it right") column, containing "0" for wrong or "1" for correct.

You must submit a .csv file containing 20,000 rows and only one column containing the 0's and 1's that your model calculated.

Fonte de Dados:

https://drive.google.com/drive/folders/1VtFkocuaNB8oo3bqF0VCx6ctnJwXitx_

**Dicionário dos Dados Disponibilizados:**

**resolvidas_questions_users -** Nesta tabela estão as informações sobre as resoluções e sobre as questões que foram resolvidas, além das informações dos usuários.

- user_id - identificação do usuário
- city - cidade do usuário
- country - país do usuário
- device - dispositivo
- device_type	 - tipo do dispositivo
- os - sistema operacional
- platform - tipo de acesso
- region - Região do usuário
- gp:carrers - carreira de preferência do usuário
- gp:college type - Universidade de preferência
- gp:degree course	- Curso de preferência na universidade
- gp:previous experience	- experiência prévia como concurseiro
- gp:school type - tipo de escola que se formou
- gp:source_project - ambiente de preferência do usuário
- question_id	- identificação da questão
- acertou - (errou (0), acertou (1))
- created_at - data de resolução da questão
- commented_by_professor - (não possui comentários do professor (0), possui comentário do professor (1))
- difficulty - dificuldade da questão
- discipline_id - disciplina da questão
- examining_board_id - banca da questão
- institute_id	- instituto da questão
- knowledge_area_id - área de conhecimento da questão
- modality_id	- tipo da questão (1, significa múltipla escolha (A,B,C,D ou E) e 2 significa certo ( C ) ou errado ( E ). 
- nullified - questões anuladas
- outdated - questões desatualizadas
- product_id - a qual produto a questão pertence
- publication_year - ano em que a questão foi publicada	
- right_answer - alternativa correta (A,B,C,D ou E), se for questão de múltipla escolha ou (C ou E) se for questão de certo ou errado 
- scholarity_id - escolaridade da questão	

**Tabela subjects_questions** - Nesta tabela estão informações adicionais sobre as questões que foram resolvidas pelos usuários
- question_id - identificação da questão
- subject_id - identificação do assunto

In [1]:
import pandas as pd
import numpy as np

from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [21]:
df_model = pd.read_csv("/content/drive/My Drive/QConcursos/Dataset_model.csv")
df_sub_question = pd.read_csv("/content/drive/My Drive/QConcursos/subjects_questions.csv")
df_test = pd.read_csv("/content/drive/My Drive/QConcursos/Submit.csv", sep=';')

In [22]:
df_test.head()

,novo_user_id,city,country,device,device_type,os,platform,region,gp:carrers,gp:college type,...,institute_id,knowledge_area_id,modality_id,nullified,outdated,product_id,publication_year,right_answer,scholarity_id,novo_question_id
0,1,Rio de Janeiro,Brazil,Apple iPhone,Apple iPhone 11 Pro Max,ios 15.4.1,iOS,Rio de Janeiro,"Tribunal, Administrativa",NaN,...,6289.0,13.0,1.0,0.0,0.0,1.0,2021.0,B,3.0,484766
1,2,São Paulo,Brazil,Windows,Windows,Chrome 104,Web,Sao Paulo,Tribunal,NaN,...,2994.0,53.0,1.0,0.0,0.0,1.0,2016.0,C,3.0,159545
2,3,NaN,Brazil,Apple iPhone,Apple iPhone 11,ios 15.5,iOS,Minas Gerais,"Controle e Gestão, Outras, Administrativa",NaN,...,20.0,14.0,1.0,0.0,0.0,1.0,2017.0,C,3.0,233145
3,4,Recife,Brazil,Windows,Windows,Chrome 104,Web,Pernambuco,"Fiscal, Tribunal, Policial, Legislativa, Jurídica",NaN,...,36.0,9.0,2.0,0.0,0.0,1.0,2014.0,C,3.0,108082
4,5,Brasília,Brazil,Windows,Windows,Chrome 99,Web,Federal District,Bancária,NaN,...,6001.0,13.0,1.0,0.0,0.0,1.0,2015.0,A,3.0,151695

In [4]:
df_model.head(3)

,novo_user_id,city,country,device,device_type,os,platform,region,gp:carrers,gp:college type,...,institute_id,knowledge_area_id,modality_id,nullified,outdated,product_id,publication_year,right_answer,scholarity_id,novo_question_id
0,1,Rio de Janeiro,Brazil,Apple iPhone,Apple iPhone 11 Pro Max,ios 15.4.1,iOS,Rio de Janeiro,"Tribunal, Administrativa",NaN,...,4126.0,13.0,1.0,0.0,0.0,1.0,2022.0,A,2.0,489400
1,1,Rio de Janeiro,Brazil,Apple iPhone,Apple iPhone 11 Pro Max,ios 15.4.1,iOS,Rio de Janeiro,"Tribunal, Administrativa",NaN,...,4126.0,13.0,1.0,0.0,0.0,1.0,2022.0,C,2.0,489399
2,1,Rio de Janeiro,Brazil,Apple iPhone,Apple iPhone 11 Pro Max,ios 15.4.1,iOS,Rio de Janeiro,"Tribunal, Administrativa",NaN,...,4126.0,13.0,1.0,0.0,0.0,1.0,2022.0,D,2.0,489398

In [5]:
df_sub_question.head(3)

   subject_id  novo_question_id
0     14655.0                15
1     19271.0                15
2     14655.0                16

## 01 - Data Analysis

In [6]:
#Target
df_model['acertou']

0          0
1          0
2          1
3          0
4          1
          ..
1999995    1
1999996    1
1999997    0
1999998    0
1999999    0
Name: acertou, Length: 2000000, dtype: int64

In [7]:
#verificando o tipo das variaveis
df_model.dtypes

novo_user_id                int64
city                       object
country                    object
device                     object
device_type                object
os                         object
platform                   object
region                     object
gp:carrers                 object
gp:college type            object
gp:degree course           object
gp:previous experience     object
gp:school type             object
gp:segment                 object
gp:source_project          object
acertou                     int64
created_at                 object
row                         int64
commented_by_professor    float64
difficulty                float64
discipline_id             float64
examining_board_id        float64
institute_id              float64
knowledge_area_id         float64
modality_id               float64
nullified                 float64
outdated                  float64
product_id                float64
publication_year          float64
right_answer               object
scholarity_id             float64
novo_question_id            int64
dtype: object

## 02 - Exploration Data

In [31]:
#verificando se a base está desbalanceada
round(df_model['acertou'].value_counts()/df_model['acertou'].shape[0],2)

1    0.65
0    0.35
Name: acertou, dtype: float64

In [45]:
#Verificando se há dados em branco
round(df_model.isnull().sum()/df_model.shape[0],4)*100

novo_user_id               0.00
city                       7.12
country                    0.66
device                     3.58
device_type                8.16
os                         0.66
platform                   0.66
region                     0.68
gp:carrers                 5.84
gp:college type           99.88
gp:degree course          99.88
gp:previous experience    52.61
gp:school type            99.88
gp:segment                 1.76
gp:source_project          1.90
acertou                    0.00
created_at                 0.00
row                        0.00
commented_by_professor     0.01
difficulty                 0.13
discipline_id              0.01
examining_board_id         0.01
institute_id               0.01
knowledge_area_id          0.01
modality_id                0.01
nullified                  0.01
outdated                   0.01
product_id                 0.01
publication_year           0.01
right_answer               0.01
scholarity_id              0.01
novo_question_id           0.00
dtype: float64

### Analisando as features

- Primeiramente analisaremos as features que são do tipo: Object

1. city
2. country
3. device
4. device_type
5. os
6. platform
7. region
8. gp:carrers
9. gp:college type
10. gp:degree course
11. gp:previous experience
12. gp:school type
13. gp:segment
14. gp:source_project

City

In [35]:
df_model['city'].nunique()

1799

In [37]:
df_model['city'].value_counts().head()

Brasília          167300
Rio de Janeiro    112100
São Paulo         108100
Fortaleza          69300
Manaus             50000
Name: city, dtype: int64

In [38]:
df_model['city'].isnull().sum()

142400

Region

In [39]:
df_model['region'].nunique()

50

In [40]:
df_model['region'].value_counts().head()

Sao Paulo           251700
Rio de Janeiro      204200
Federal District    179900
Minas Gerais        154100
Ceara               120100
Name: region, dtype: int64

In [41]:
df_model['region'].isnull().sum()

13700

## 03 - Train Model

## 04 - Predict Model